
<section id="navbarsection">
    <div id="navbarsectionone">
        <div class="companydescription">
            <h1>Welcome to Henna solutions</h1>
            <p>Managin clients with high quality</p>
        </div>
    </div>
</section>

<section id="contentsectionhome">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia enim, exercitationem laudantium odio sed
            pariatur dolorem vitae debitis! Veniam sit cupiditate veritatis sed error facilis voluptas dicta aut ipsum
            nihil?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia enim, exercitationem laudantium odio sed
            pariatur dolorem vitae debitis! Veniam sit cupiditate veritatis sed error facilis voluptas dicta aut ipsum
            nihil?</p>
    
    <img src="https://wallpapersmug.com/large/c6637f/retro-city-sunset-digital-art.jpg"/>
</section>

<app-footer></app-footer>