<section id="contentsectionmeetings">
    <h1>Schedule your new meeting</h1>
    <form>
        <label for="name">Name</label>
        <input type="text" name="name"/>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email"/>
        <br>
        <label for="cellphone">Cell phone</label>
        <input type="number" name="cellphone"/>
        <br>
        <label type="message">Additional Command</label>
        <textarea name="message" rows="10" cols="30"></textarea>
        <br>
        <label for="date">Date</label>
        <input type="date" name="date"/>
        <br>
        <input type="submit" value="Send"/>
    </form>
</section>

<app-footer></app-footer>